body {
  background-color: #ffcdff;
  font-family: Arial, Helvetica, sans-serif;
}

.contacto h1 {
  padding: 25px 3px;
  border-radius: 20px;
  text-align: center;
  margin-top: 50px;
  background-color: #ec8cac;
  margin-bottom: 30px;
}

.bloque {
  text-align: center;
  background: beige;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.bloque:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.bloque img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
}

.navbar {
    background: linear-gradient(to right, #eea9ee, #feddf7, #ffc6ff);
    padding: 30px;
}

.navbar-brand {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.navbar-nav .nav-link {
    color: rgb(19, 19, 19) !important;
    font-weight: bold;
    margin: 0 10px;
    transition: 0.3s;
}

.navbar {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 15px 15px;
    transition: all 0.3s ease;
}

.navbar a {
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar a:hover {
    transform: scale(1.20);
    color: #000000;
}

.navbar-nav .nav-link:hover {
    color: #090608 !important;
}

.navbar-nav .nav-link {
    color: rgb(19, 19, 19) !important;
    font-weight: bold;
    margin: 0 10px;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #090608 !important;
}

.container-fluid {
    background-color: #fff9f9;
}

.whatsapp {
  position: fixed;
  left: 20px;
  bottom: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #25D366;
  color: white;
  font-weight: bold;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 28px;
  transition: 0.3s;
  animation: pulso 1.5s infinite;
}

.formulariotitulo {

  padding-left: 30px;
  padding-top: 35px;
}

.imagen {

  float: left
}

.formulariomadre {
  background-color: #ffffff;
  border-radius: 9px;
  border: 2px solid #615b5b;
  color: rgb(0, 0, 0);
  margin: 50px auto;
}


button {
  margin-bottom: 20px;
  margin-left: 150px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #ffde59;
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

input {
  border-top: none;
  border-bottom-color: #000000;
  border-left: none;
  border-right: none;
  background-color: white;
}

input:focus {
  outline: none
}

.whatsapp:hover {
  background-color: #1ebe5d;
}

/* animación */
@keyframes pulso {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.footer {
  background:linear-gradient(to right, #eea9ee, #ffc6ff);
  padding-top: 20px;
  font-size: 17px;
  margin: auto;
}
.footer h5 {
  font-weight: bold;
}

.warnings {
  width: 200px;
  text-align: center;
  margin: auto;
  color: red;
  padding-top: 20px;
}

.consentimiento {
  text-align: center;
  margin-right: 20px;
}

.abc {

  text-align: center;
}